In [1]:
import pandas as pd 
import numpy as np 
import os
import re
import matplotlib.pyplot as plt
from Bio import SeqIO
from itertools import groupby
import seaborn as sns
currdir = os.getcwd()
parent = os.path.dirname(currdir)
gparent = os.path.dirname(parent)

In [2]:
moduleFile= f'/home/poojaparameswaran/Documents/SoderlingLab/SpatialProteomics/data/KinSub10415_partitionGeneNames.tsv'
data = pd.read_csv(moduleFile, sep='\t', header=0)
data

            Protein1 Protein1_GeneName  Module
0      CASB_BOVIN__2              CSN2       0
1         O14686__34             KMT2D       0
2         O60716__51            CTNND1       0
3          O75387__2           SLC43A1       0
4         O75592__19            MYCBP2       0
...              ...               ...     ...
25533     O15344__12              MID1     290
25534     P19338__69               NCL     290
25535     P19338__70               NCL     290
25536     P19338__71               NCL     290
25537      Q5T1M5__3            FKBP15     290

[25538 rows x 3 columns]

In [9]:
grp = data.groupby('Module')
t = {}
for nm, d in grp:
    if any('_k' in x for x in d['Protein1']):
        t[nm] = d
t.keys()

dict_keys([0, 11, 18, 19, 22, 26, 27, 29, 33, 36, 39, 43, 48, 51, 59, 65, 68, 69, 71, 73, 74, 77, 80, 99, 100, 101, 102, 103, 105, 107, 108, 112, 114, 118, 124, 125, 126, 127, 134, 140, 142, 148, 149, 150, 151, 155, 156, 162, 166, 176, 186, 195, 200, 201, 202, 204, 205, 211, 223, 224, 225, 230, 235, 236, 239, 240, 241, 242, 261, 281, 283, 284])

In [23]:

with pd.ExcelWriter(f'../results/Kinase_Modules{os.path.basename(moduleFile).split("_")[0]}.xlsx' \
    , engine='xlsxwriter') as writer:
        workbook=writer.book
        bold_format = workbook.add_format({'bold': True})

        for x, dat in t.items():
            dat.to_excel(writer, sheet_name=f'Module{x}', index=False)
            worksheet= writer.sheets[f'Module{x}']
            mask = dat['Protein1'].str.contains('_k')
            for i, row in dat[mask].iterrows():
                # You need to specify the cell position correctly
                # For example, writing to column 'A', row 'i+2' because Excel is 1-indexed and there's a header
                worksheet.write(f'A{i+2}', row['Protein1'], bold_format)


writer.save()

/tmp/ipykernel_1380775/2778658131.py:16: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()